
h2 {
    text-align: center;
    font-size: large;
}

table {
    padding: 15px;
    border-collapse: collapse !important;
}

thead {
    color: #0D2738;
    background: lightblue;
}

tr, td {
    border-style: hidden !important;
    font-size: 12px;
}

tbody:nth-child(2n) {
    background: #f9f9f9;
}

.error {
    color: darkred;
    font-weight: bold;
}


.fa-spin {
    display: inline-block;
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(359deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg)
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg)
    }
    100% {
        -o-transform: rotate(359deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.text-bold {
    font-weight: bold;
}