<div ng-hide="loaded" id="prompt">Validating health card numbers, please wait......</div>
<div ng-show="hcvError" id="prompt2">HCV service is not available.</div>
<h2>Patients With Invalid HIN</h2>
<table class="table table-condensed table-borderless" ng-cloak>
    <thead>
    <tr>
        <th style="width:10%">Patient Last Name</th>
        <th style="width:10%">Patient First Name</th>
        <th style="width:10%">HIN</th>
        <th style="width:5%">Version Code</th>
        <th style="width:5%" class="text-center">Gender</th>
        <th style="width:10%" class="text-center">DOB</th>
        <th style="width:10%">Phone Number</th>
        <th style="width:15%">Response Action</th>
        <th style="width:10%">Response Code</th>
        <th style="width:15%">Response Details</th>
    </tr>
    </thead>
 
  	<tbody>  	
    <tr ng-repeat="demographic in demographics">
        <td width="10%"><a target="_blank" ng-href="{{globals.contextPath}}/demographic/demographiccontrol.jsp?demographic_no={{demographic.demographicNo}}&displaymode=edit&dboperation=search_detail">{{demographic.lastName}}</a></td>
        <td width="10%"><a target="_blank" ng-href="{{globals.contextPath}}/demographic/demographiccontrol.jsp?demographic_no={{demographic.demographicNo}}&displaymode=edit&dboperation=search_detail">{{demographic.firstName}}</a></td>
        <td width="10%">{{demographic.hin}}</td>
        <td width="5%">{{demographic.hinversion}}</td>
        <td width="5%">{{demographic.sex}}</td>
        <td width="10%">{{demographic.dob | date : 'yyyy-MM-dd' }}</td>
        <td width="10%">{{demographic.phone}}</td>
        <td width="15%">{{demographic.responseAction}}</td>
        <td width="10%">{{demographic.validationCode}}</td>
        <td width="15%">{{demographic.validationMessage}}</td>
    </tr>
    
    <tr ng-repeat="demographic in demographicsInvalid">
        <td width="10%"><a target="_blank" ng-href="{{globals.contextPath}}/demographic/demographiccontrol.jsp?demographic_no={{demographic.demographicNo}}&displaymode=edit&dboperation=search_detail">{{demographic.lastName}}</a></td>
        <td width="10%"><a target="_blank" ng-href="{{globals.contextPath}}/demographic/demographiccontrol.jsp?demographic_no={{demographic.demographicNo}}&displaymode=edit&dboperation=search_detail">{{demographic.firstName}}</a></td>
        <td width="10%">{{demographic.hin}}</td>
        <td width="5%">{{demographic.ver}}</td>
        <td width="5%">{{demographic.sex}}</td>
        <td width="10%">{{demographic.yearOfBirth}}-{{demographic.monthOfBirth}}-{{demographic.dateOfBirth}}</td>
        <td width="10%">{{demographic.phone}}</td>
        <td colspan="3">Invalid HIN or version code</td>        
    </tr>

    <tr ng-repeat="demographic in demographicsOutOfOn">
        <td width="10%"><a target="_blank" ng-href="{{globals.contextPath}}/demographic/demographiccontrol.jsp?demographic_no={{demographic.demographicNo}}&displaymode=edit&dboperation=search_detail">{{demographic.lastName}}</a></td>
        <td width="10%"><a target="_blank" ng-href="{{globals.contextPath}}/demographic/demographiccontrol.jsp?demographic_no={{demographic.demographicNo}}&displaymode=edit&dboperation=search_detail">{{demographic.firstName}}</a></td>
        <td width="10%">{{demographic.hin}}</td>
        <td width="5%">{{demographic.ver}}</td>
        <td width="5%">{{demographic.sex}}</td>
        <td width="10%">{{demographic.yearOfBirth}}-{{demographic.monthOfBirth}}-{{demographic.dateOfBirth}}</td>
        <td width="10%">{{demographic.phone}}</td>
        <td colspan="3">Out of Province, Unable to Validate Health Card</td>
    </tr>

    <tr>
        <td colspan="10">
            <div ng-show="loaded && demographics.length === 0 && demographicsInvalid.length === 0 && demographicsOutOfOn.length === 0" id="prompt3">No Invalid HIN</div>
        </td>
    <tr>
    </tbody>
</table>
