<!--  
/*
 * 
 * Copyright (c) 2001-2002. Department of Family Medicine, McMaster University. All Rights Reserved. *
 * This software is published under the GPL GNU General Public License. 
 * This program is free software; you can redistribute it and/or 
 * modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation; either version 2 
 * of the License, or (at your option) any later version. * 
 * This program is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
 * GNU General Public License for more details. * * You should have received a copy of the GNU General Public License 
 * along with this program; if not, write to the Free Software 
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA. * 
 * 
 * <OSCAR TEAM>
 * 
 * This software was written for the 
 * Department of Family Medicine 
 * McMaster University 
 * Hamilton 
 * Ontario, Canada 
 */
-->
<% 
 
List<Billing> bs = billingMasterDao.search_teleplanbill(Integer.parseInt(billNo));
		 

 for(Billing b:bs){ 
    DemoNo = String.valueOf(b.getDemographicNo());
    DemoName = b.getDemographicName();
    UpdateDate = ConversionUtils.toDateString(b.getUpdateDate());
    BillDate = ConversionUtils.toDateString(b.getBillingDate());
    BillType = b.getStatus();
    Provider = b.getProviderNo();
    visitdate =ConversionUtils.toDateString( b.getVisitDate());
    visittype = b.getVisitType();
 }

Demographic d =  demographicDao.getDemographic(DemoNo);
 if(d != null){
     DemoSex = d.getSex();
     DemoAddress = d.getAddress();
     DemoCity =d.getCity();
     DemoProvince = d.getProvince();
     DemoPostal = d.getPostal();
     DemoDOB = MyDateFormat.getStandardDate(Integer.parseInt(d.getYearOfBirth()),Integer.parseInt(d.getMonthOfBirth()),Integer.parseInt(d.getDateOfBirth()));
     hin = d.getHin() + d.getVer();
     r_doctor = d.getReferralPhysicianName().isEmpty() ? "" : d.getReferralPhysicianName();
     r_doctor_ohip = d.getReferralPhysicianOhip().isEmpty() ? "" : d.getReferralPhysicianOhip();
     HCTYPE = d.getHcType()==null?"ON":d.getHcType();
     if (DemoSex.equals("M")) HCSex = "1";
     if (DemoSex.equals("F")) HCSex = "2";
     roster_status = d.getRosterStatus();
 }
   
 %>