* {
  font-size: .9em;
}

@media all and (min-width: 800px) {
  * {
    font-size: .97em;
  }

  #heading h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }
}

body#colcamexFlowSheet {
  margin: 0px;
  padding: 10px 20px;
}


.bgBlack {
  background-color: black;
}

.bgLilac {
  background-color: #CCCCFF;
}

.bgLightLilac {
  background-color: #EEEEFF;
}

.bgBurgundy {
  background-color: #CC0000;
}

.bgPeaGreen {
  background-color: #999900;
}

#heading {
  border-bottom: black 1px solid;
  padding: 0px;
  margin-bottom: 10px;
}

#heading h1 {
  font-size: 1.5em;
  margin: 0px;
}

#heading p {
  margin: 0px;
  margin-bottom: 10px;
}

#newFlowsheetDialog {
  padding: 10px 20px;
  border: black thin solid;
}

#newFlowsheetDialog form#newFlowsheetForm {
  border: #EEEEDD thin solid;
  padding: 10px;
  background-color: #EEEEFF;
}

h2 {
  font-size: 1.2em;
  margin: 0px;
}

#colcamexFlowSheet table {
  font: inherit;
  border-collapse: collapse;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

#colcamexFlowSheet table#coreData {
  text-align: left;
}

table td {
  padding: .5em .5em .5em 1em;
}

#colcamexFlowSheet table#coreData td {
  vertical-align: top;
}

#colcamexFlowSheet table#resultTable tr.site_input td {
  border-bottom: #CCCCFF 2px solid;
}

input, select {
  font: inherit;
}

#colcamexFlowSheet table#coreData textarea,
#colcamexFlowSheet table#resultTable tr.site_input textarea,
table input {
  font: inherit;
  width: 100%;
}

#colcamexFlowSheet table#coreData td#allergies,
#colcamexFlowSheet table#coreData td#height,
#colcamexFlowSheet table#coreData td#problems,
#colcamexFlowSheet table#coreData td#others {
  background-color: #EEEEFF;
  border-top: white 2px solid;
}


#colcamexFlowSheet ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}


#colcamexFlowSheet table th {
  background-color: #CCCCFF;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  text-transform: uppercase;
}


#colcamexFlowSheet table#resultTable td {
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  background: #fff;
  color: #444;
}


#colcamexFlowSheet table#resultTable tr.even td {
  background: #EEEEFF;
  color: #222;
  border: white thin solid;
}


#colcamexFlowSheet table#resultTable #input_row {
  padding: 0px;
  margin: 0px;
}

#colcamexFlowSheet table#coreData th {
  border: none;
  border-bottom: white 3px solid;
}


#colcamexFlowSheet table#resultTable #input_row {
  text-align: center;
}

#colcamexFlowSheet table td.other_date {
  text-align: left;
  border-bottom: #EEEEFF 1px solid;
  border-right: #EEEEFF 1px solid;
}

#colcamexFlowSheet table td.other_comment {
  border-bottom: #EEEEFF 1px solid;
}


div#footer {
  padding: .5em 3em;
  border-bottom: #CCCCFF 2px solid;
  background-color: #CCCCFF;
}

#colcamexFlowSheet div#inputErrors {
  color: red;
  border: red 1px thin;
}

#colcamexFlowSheet div#inputErrors h3 {
  margin: 0px;
  padding: 0px;
}

#colcamexFlowSheet div#inputErrors ul {
  color: red;
  list-style-type: disc;
}

#colcamexFlowSheet div#inputErrors ul li {
  margin-left: 15px;
}

