
* {
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: white;
  color: black;
}

body {
  text-align: left;
  width: 175mm;
  height: 232mm;
}

.noDisplay {
  display: none;
}

input {
  display: none;
}

table {
  font: 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
}

table td, table th {
  text-align: left;
  vertical-align: top;
  padding-left: 5px;
}

table th, td#others {
  background-color: #ccc;
  border-bottom: #111 2px solid;
  border-top: #111 2px solid;
}

#resultTable td {
  border: #ccc 1px solid;
}

td#others strong {
  background-color: #ccc;
}

ul {
  list-style-type: none;
}

tr.odd td {
  background-color: lightgrey;
}

