<div id="_hc_window" style="z-index: 1500">
	<div id="_hc_status">
		<div id="_hc_status_icon" class="_hc_inlineBlock _hc_status_success"></div>
		<div id="_hc_status_text" class="_hc_inlineBlock">
			<span id="_hc_status_text_success">Read Successful</span>
			<span id="_hc_status_text_error">Error</span>
		</div>
		<div id="_hc_closeBtn"><span>x</span></div>
	</div>
	<div id="_hc_message">
		<div id="_hc_message_readError">Error reading health card.</div>
		<div id="_hc_message_issuerError">Error determining health card issuer.</div>
		<div id="_hc_message_tryAgain">Please try again</div>
	</div>
	<div id="_hc_read">
		<div id="_hc_layout" class="_hc_inlineBlock">
			<h1 id="_hc_layout_title">Health &#149; Sant&eacute;</h1>
			<div id="_hc_layout_name"></div>
			<div id="_hc_layout_hin"><span id="_hc_layout_hin_num"></span><span id="_hc_layout_hin_ver"></span></div>
			<div id="_hc_layout_info"><span>Date of Birth: <span id="_hc_layout_info_dob"></span></span> <span>Sex: <span id="_hc_layout_info_sex"></span></span></div>
			<div id="_hc_layout_valid"><span>Valid From: <span id="_hc_layout_valid_from"></span></span> <span>Valid To: <span id="_hc_layout_valid_to"></span></span></div>
		</div>
		<div id="_hc_match" class="_hc_inlineBlock">
			<h3 id="_hc_match_title">Matches Record</h3>
			<div id="_hc_match_name"></div>
			<div><span id="_hc_match_hin_num"></span><span id="_hc_match_hin_ver"></span></div>
			<div class="_hc_inlineBlock">Address:</div> <span id="_hc_match_address" class="_hc_inlineBlock"></span>
			<div>Phone Number: <span id="_hc_match_phone"></span></div>
		</div>
		<div id="_hc_noMatch" class="_hc_inlineBlock">
			<h3 id="_hc_noMatch_title">No Match Found</h3>
			<div id="_hc_action_create" class="_hc_uiBtn">Create New Record</div>
		</div>
		<div id="_hc_matchSearch" class="_hc_inlineBlock">
			<h3 id="_hc_matchSearch_title">Searching...</h3>
			<div><img /></div>
		</div>
	</div>
	<div id="_hc_errors"></div>
	<div id="_hc_actions">
		<div id="_hc_action_present" class="_hc_uiBtn">Mark as Present</div>
		<div id="_hc_action_update" class="_hc_uiBtn">Master Record</div>
	</div>
</div>
