#zwibbler-div {
    position: absolute;
    width: 100%;
    height: 100%;
}

.zwibbler-canvas {
    position: absolute;
    top: 50px;
    left: 0;
    right: 180px;
    bottom: 0;
}

.zwibbler-toolbar {
    position: absolute;
    left: 0;
    top: 0;
    /* width: 50px; */
    padding: 10px;
    bottom: 0;
    height: 30px;
}

.toolbar-right {
    position: absolute;
    right: 0;
    top: 50px;
    width: 150px;
    padding: 10px;
    bottom: 0;
}

.zwibbler-button {
   width: 30px;
   height: 30px;
   background-size: 100% auto;
   margin-right: 10px;
   float: left;
}

.zwibbler-button:hover {
    background-color: #ccc;
}

.toolbar a:hover {
    background-color: aliceblue;
}


.toolbar-right h1 {
    font-size: 20px;
    border-bottom: 1px solid #e8e8e8;
    margin-top: -5px;
}

.toolbar-right h2 {
    font-size: 16px;
    margin-bottom: 0;
}

.toolbar-right button {
    width: 90%;
    padding-bottom: 25px;
}

.layer-option {
    font-size: 14px;
    color: rgb(60,60,60);
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}

.layer-option:hover {
    background-color: #ddd;
}

.layer-option.selected {
    background-color: rgb(219,230,214);
}

.toolbar-right .swatch {
    display: inline-block;
    width: 48px;
    height: 26px;
    border: 1px solid #808080;
    background-color: pink;
    margin-right: 10px;
    vertical-align: middle;
}

.toolbar-right button {
    vertical-align: middle;
    font-family: sans;
    padding: 5px;
    margin: 5px 5px;
    height: 22px;
    display: inline-block;
    font-size: 13px;
    line-height: 22px;
    background-color: white;
    border: none;
    border-radius: 2px;
    border-bottom: 2px solid #ddd;
    cursor: pointer;
    user-select: none;
    padding-bottom: 25px;
}

.toolbar-right {
        background-color: #f5f5f5;
        font-family: arial,helvetica;
}

.toolbar-right select {
    width: 100%;
}

.zwibbler-palette {
    /*width: 100%;
    height: 100%;*/
    width: 320px;
    background: white;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    line-height: 0;
}
