<p>Hi {0} {1}, </p>
<p>You have received a new electronic requisition, identified with eOrder ID {2}.
Please proceed to a LifeLabs location of your choice and provide a member of our staff with this eOrder ID.
Lifelabs staff will be able to obtain your requisition based on this ID. </p>
<p>To save time and avoid waiting in line, book your LifeLabs appointment online.
<a href="https://locations.lifelabs.com/locationfinder" target="_blank">Book now</a></p>
<p>You can also create a MyCareCompass (formerly <i>my results</i>&trade;) account to view your results and navigate your health online, 
at no charge. <a href="https://mycarecompass.lifelabs.com/" target="_blank">Create My Account</a></p>
<p><b>Note:</b> to view your results in MyCareCompass, you will need a Lab Visit Number, provided to you during your lab appointment.</p>
<p>MyCareCompass is a free, secure service brought to you by LifeLabs, offering more than results. 
You can book appointments and check-in online, with many more exciting features to come.</p>
<p>You are receiving this email because you have given consent to your clinician to send you an
email when the clinician has used an electronic record technology to transmit your laboratory requisition directly
to LifeLabs. Please contact your clinic if you do not want to receive these emails in the future.</p>
<p>The content of this email does not contain any private or confidential information. 
If you are not the intended recipient of this message, please delete this email and contact the associated clinic and/or organization.</p>