/*
 * 
 * Copyright (c) 2001-2002. Department of Family Medicine, McMaster University. All Rights Reserved. *
 * This software is published under the GPL GNU General Public License. 
 * This program is free software; you can redistribute it and/or 
 * modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation; either version 2 
 * of the License, or (at your option) any later version. * 
 * This program is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
 * GNU General Public License for more details. * * You should have received a copy of the GNU General Public License 
 * along with this program; if not, write to the Free Software 
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA. * 
 * 
 * <OSCAR TEAM>
 * 
 * This software was written for the 
 * Department of Family Medicine 
 * McMaster University 
 * Hamilton 
 * Ontario, Canada 
 */ /* styles.css -- Style sheet for the UI prototype.

	Colours used:
		#A9A9A9 = darkgray
		#DCDCDC = gainsboro
		#F5F5F5 = whitesmoke
		#000000 = black
		#FF8C00 = darkorange
*/ /*jay adds*/
.ChooseRecipientsBox {
	font-size: 80%;
	height: 450px;
	min-width: 250px;
	overflow: auto;
	margin-left: 4px;
	border: 1px solid #dcdcdc;
}

/*jay done adding*/
BODY {
	FONT-SIZE: Normal;
	FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif;
}

TABLE {
	FONT-SIZE: x-small;
}

TH {
	FONT-SIZE: small;
	font-weight: bold;
}

A IMG {
	border: 0px;
}

H3 {
	font-size: x-small;
	font-weight: bold;
	margin-bottom: -10px;
}

.ControlTextarea {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 100%;
}

.FakeLink {
	text-align: right;
	font-size: 80%;
}

.RowTop {
	font-size: 8pt;
	font-variant: small-caps;
	font: bold;
}

.ControlPushButton {
	font-size: 80%;
	font-family: Verdana, Tahoma, Arial, sans-serif;
}

.Header {
	font-weight: bold;
	background-color: #6699cc;
}

/*These are my additions*********************** */
H4 {
	font-size: x-small;
	font-weight: bold;
	margin-bottom: -10px;
}

H3 {
	font-size: x-small;
	font-weight: bold;
	margin-bottom: -10px;
}

TH {
	font-size: small;
	font-weight: bold;
}

.doctorInfo {
	font-size: x-small;
	text-decoration: bold;
	background-color: #A39FC4;
}

.encounterTable {
	background-color: #EBEAF2;
}

.patientInfo {
	font-size: small;
	text-decoration: bold;
	background-color: #CBC9E0;
	/* //#CBC9E0; */
}

.ControlTextarea {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 100%;
}

.ControlSelect {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 80%;
	width: 100%;
}

.LeftTable {
	width: 100%;
}

.BodyStyle {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

.MainTable {
	border-collapse: collapse;
	border-color: #111111;
	border-width: 0;
	padding-bottom: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	font-size: 80%;
}

.MainTableTopRowLeftColumn {
	background-color: #003399;
	border-left: 2px solid #A9A9A9;
	border-right: 2px solid #A9A9A9;
	border-top: 2px solid #A9A9A9;
	height: 34px;
	max-width: 130px;
	font-size: 110%;
	font-weight: bold;
	color: #FFFFFF;
}

.MainTableBottomRowLeftColumn {
	border-left: 2px solid #A9A9A9;
	border-right: 2px solid #A9A9A9;
	border-bottom: 2px solid #A9A9A9;
	height: 4px;
	max-width: 130px;
}

.MainTableLeftColumn {
	border-left: 2px solid #A9A9A9;
	border-right: 2px solid #A9A9A9;
	max-width: 130px;
}

.MainTableTopRowRightColumn {
	background-color: #003399;
	border-left: 2px solid #A9A9A9;
	border-right: 2px solid #A9A9A9;
	border-top: 2px solid #A9A9A9;
	height: 34px;
}

.MainTableBottomRowRightColumn {
	border-left: 2px solid #A9A9A9;
	border-right: 2px solid #A9A9A9;
	border-bottom: 2px solid #A9A9A9;
	height: 4px;
}

.MainTableRightColumn {
	border-left: 2px solid #A9A9A9;
	border-right: 2px solid #A9A9A9;
	height: 34px;
}

.TopStatusBar {
	font-weight: bold;
	background-color: #6699cc;
	color: black;
	height: 23px;
	width: 800;
}

.Title {
	font-weight: bold;
	font-size: 110%;
	color: white;
}

td.messengerButtonsA { /*background-color: #6666ff;*/
	/*background-color: #6699cc;*/
	background-color: #003399;
}

td.messengerButtonsD { /*background-color: #84c0f4;*/
	background-color: #555599;
}

a.messengerButtons {
	color: #ffffff;
	font-size: 9pt;
	text-decoration: none;
}

table.messButtonsA {
	border-top: 2px solid #cfcfcf;
	border-left: 2px solid #cfcfcf;
	border-bottom: 2px solid #333333;
	border-right: 2px solid #333333;
}

table.messButtonsD {
	border-top: 2px solid #333333;
	border-left: 2px solid #333333;
	border-bottom: 2px solid #cfcfcf;
	border-right: 2px solid #cfcfcf;
}

.NotDisplayable {
	display: none;
}