/*
 * 
 * Copyright (c) 2001-2002. Department of Family Medicine, McMaster University. All Rights Reserved. *
 * This software is published under the GPL GNU General Public License. 
 * This program is free software; you can redistribute it and/or 
 * modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation; either version 2 
 * of the License, or (at your option) any later version. * 
 * This program is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
 * GNU General Public License for more details. * * You should have received a copy of the GNU General Public License 
 * along with this program; if not, write to the Free Software 
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA. * 
 * 
 * <OSCAR TEAM>
 * 
 * This software was written for the 
 * Department of Family Medicine 
 * McMaster University 
 * Hamilton 
 * Ontario, Canada 
 */ /*
 * This file defines elements so that messenger pages can be formated in a 
 * print friendly form.
 */
td {
	display: none;
}

input[type="submit"] {
	display: none;
}

input[type="button"] {
	display: none;
}

/* should be displaying table-cell rather than block, but IE doesn't support "table-cell"*/
td.Printable {
	display: block;
}

p.Printable {
	display: block;
}

body {
	background: white;
	font-size: 10pt;
	color: black;
	padding-left: 4em;
	padding-right: 1em;
}