<%-- This page is included by "appointmentprovideradminday.jsp".
     User defined JavaScript functions here can be found in the above file. --%>


<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib uri="/WEB-INF/struts-logic.tld" prefix="logic"%>
<%@ taglib uri="/WEB-INF/caisi-tag.tld" prefix="caisi"%>
<%@ page import="org.oscarehr.util.*"%>

<%
String questr=(String)session.getAttribute("infirmaryView_OscarQue"); 

String curUser_no = (String)request.getAttribute("curUser_no");
//remove "infirmaryView_programId" from querystring
questr=oscar.caisi.CaisiUtil.removeAttr(questr,"infirmaryView_programId=");
questr=oscar.caisi.CaisiUtil.removeAttr(questr,"infirmaryView_clientStatusId=");
questr=oscar.caisi.CaisiUtil.removeAttr(questr,"viewall");
questr += "&viewall=1";

String providerurlString="providercontrol.jsp?"+questr;

//remove "infirmaryView_isOscar" from querystring
questr=oscar.caisi.CaisiUtil.removeAttr(questr,"infirmaryView_isOscar=");

//remove "GoToCaisiViewFromOscarView" from querystring
questr=oscar.caisi.CaisiUtil.removeAttr(questr,"GoToCaisiViewFromOscarView=");

session.setAttribute("infirmaryView_OscarQue",questr);

%>

<script>
function submitProgram(ctrl,isOscar) {
	var url = "<%=providerurlString%>"+"&infirmaryView_programId="+ctrl.value+"&GoToCaisiViewFromOscarView=true";
	url = url.replace('infirmaryView_isOscar='+(!isOscar),'infirmaryView_isOscar='+isOscar);
	document.location.href = url;
}
function submitStatus(ctrl) {// only place other than infirmaction.java to set infirmaryView_clientStatusId
	var programCtrl = document.getElementById("bedprogram_no");
	document.location.href = "<%=providerurlString%>"+"&infirmaryView_programId="+programCtrl.value+"&infirmaryView_clientStatusId="+ctrl.value+"&GoToCaisiViewFromOscarView=true";
}
</script>

<logic:notEqual name="infirmaryView_isOscar" value="true">
	<br>
	<b>Program:</b>
	<select id="bedprogram_no" name="bedprogram_no"
		onchange="submitProgram(this,false)">
		<%java.util.List programBean=(java.util.List)session.getAttribute("infirmaryView_programBeans");
	String programId=(String)session.getAttribute(SessionConstants.CURRENT_PROGRAM_ID);
	if (programBean.size()==0 || programId.equalsIgnoreCase("0")){%>
		<option value="0" selected>-No assigned program-</option>
		<%}else{ %>
		<logic:iterate id="pb" name="infirmaryView_programBeans"
			type="org.apache.struts.util.LabelValueBean">
			<logic:equal name="infirmaryView_programId"
				value="<%=pb.getValue()%>">
				<option value="<%=pb.getValue()%>" selected><%= pb.getLabel() %></option>
			</logic:equal>
			<logic:notEqual name="infirmaryView_programId"
				value="<%=pb.getValue()%>">
				<option value="<%=pb.getValue()%>"><%= pb.getLabel() %></option>
			</logic:notEqual>
		</logic:iterate>
		<%} %>
	</select>
</logic:notEqual>
<logic:notEqual name="infirmaryView_isOscar" value="false">
	<br>
		<b>Program:</b>
		<select id="bedprogram_no" name="bedprogram_no"
			onchange="submitProgram(this,true)">
			<%java.util.List programBean=(java.util.List)session.getAttribute("infirmaryView_programBeans");
	String programId=(String)session.getAttribute(SessionConstants.CURRENT_PROGRAM_ID);
	if (programBean.size()==0 || programId.equalsIgnoreCase("0")){%>
			<option value="0" selected>-No assigned program-</option>
			<%}else{ %>
			<logic:iterate id="pb" name="infirmaryView_programBeans"
				type="org.apache.struts.util.LabelValueBean">
				<logic:equal name="infirmaryView_programId"
					value="<%=pb.getValue()%>">
					<option value="<%=pb.getValue()%>" selected><%= pb.getLabel() %></option>
				</logic:equal>
				<logic:notEqual name="infirmaryView_programId"
					value="<%=pb.getValue()%>">
					<option value="<%=pb.getValue()%>"><%= pb.getLabel() %></option>
				</logic:notEqual>
			</logic:iterate>
			<%} %>
		</select>
</logic:notEqual>

<logic:notEqual name="infirmaryView_isOscar" value="true">
  &nbsp;
  <select id="program_clientstatus" name="program_clientstatus"
		onchange="submitStatus(this)">
		<c:choose>
			<c:when
				test="${empty infirmaryView_clientStatusId or infirmaryView_clientStatusId == 0}">
				<option value="0" selected>&nbsp;</option>
			</c:when>
			<c:otherwise>
				<option value="0">&nbsp;</option>
			</c:otherwise>
		</c:choose>

		<c:forEach var="status" items="${program_client_statuses}">
			<c:choose>
				<c:when test="${infirmaryView_clientStatusId == status.id}">
					<option selected value="<c:out value="${status.id}"/>"><c:out
						value="${status.name}" /></option>
				</c:when>
				<c:otherwise>
					<option value="<c:out value="${status.id}"/>"><c:out
						value="${status.name}" /></option>
				</c:otherwise>
			</c:choose>

		</c:forEach>
	</select>
	<caisi:isModuleLoad moduleName="TORONTO_RFQ" reverse="true">
		<caisi:ProgramExclusiveView providerNo="<%=curUser_no%>" value="no">
			<a href='providercontrol.jsp?infirmaryView_isOscar=true&GoToCaisiViewFromOscarView=false&<%=session.getAttribute("infirmaryView_OscarQue") %>'>|
			Oscar View</a>
		</caisi:ProgramExclusiveView>
	</caisi:isModuleLoad>
</logic:notEqual>

<logic:equal name="infirmaryView_isOscar" value="true">
	<caisi:ProgramExclusiveView providerNo="<%=curUser_no%>" value="no">
		<caisi:isModuleLoad moduleName="oscarClinic" reverse="true">
		<div align="right"><a
			href='providercontrol.jsp?infirmaryView_isOscar=false&GoToCaisiViewFromOscarView=true&<%=session.getAttribute("infirmaryView_OscarQue") %>'>|
		Case Management View</a></div>
		</caisi:isModuleLoad>
	</caisi:ProgramExclusiveView>
</logic:equal>
</td>
</tr>
</table>
