.btn-schedule[disabled], .schedule-detail.remit.disabled {
    cursor: not-allowed;
}

.schedule-detail.remit.disabled, .schedule-detail.renew-pwd-area.disabled span, .schedule-detail.remit.deactivated span {
    opacity: 0.35;
}

.schedule-detail.remit.disabled a {
    cursor: not-allowed;
    pointer-events: none;
}

input[type="radio"], input[type="checkbox"], select {
    margin: 0;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.modal .error-tips {
    color: red;
    margin-right: 10px;
}

#dlgSchedulePwd.modal {
    width: 440px;
}

.modal-backdrop.fade.in {
    opacity: 0.5;
}

#dlgSchedulePwd.modal .modal-body {
    text-align: center;
}

#dlgSchedulePwd.modal .modal-body input {
    margin: 0;
}

#dlgSchedulePwd.modal .modal-body * {
    vertical-align: middle;
}

.schedule-detail span {
    font-weight: bold;
    margin-right: 10px;
    color: green;
}

.btn-schedule {
    background: #d9edf6;
    padding: 2px 10px;
}

#dlgScheduleRemit .modal-body .row {
    padding: 10px 0;
}

#dlgScheduleRemit .modal-body .row * {
    vertical-align: middle;
}

#dlgScheduleRemit .modal-body .row > div:first-child {
    width: 140px;
    text-align: right;
    margin-right: 5px;
}

#dlgScheduleRemit .date-section {
    display: none;
}

#dlgScheduleRemit .tips {
    width: 320px;
    opacity: 0.7;
    font-style: italic;
}