body {
	font-family: "Helvetica", sans-serif;
	margin: 0;
}
#picker {
	list-style: none;
	width: 700px;
	height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0;
}

#picker li {
	display: inline;
	margin-right: 10px;
	clear: both;
	height: 220px;
}

#picker li div, #builder li div {
	display: inline;
	position: relative;
	float: left;
	margin: 10px;
}

#picker li div span.num, #builder li div span.num {
	position: absolute;
	top: 0px;
	left: 0px;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	color: black;
	opacity: 0.3;
	font-weight: bold;
	cursor: pointer;
	font-size: 150px;
}

#picker li div span.rotate_r {
	right: 0px;
	left: auto;
}

#picker img, #picker canvas, .ui-draggable-dragging img, .ui-draggable-dragging canvas {
	width: 560px;
	cursor: pointer;
	vertical-align: middle;
	box-shadow: 0px 1px 3px #333333;
	-webkit-box-shadow: 0px 1px 3px #333333;
	-moz-box-shadow: 0px 1px 3px #333333;
}

#picker li div:hover, #builder li div:hover {
	margin: 7px;
	border: 3px solid yellow;
}

#picker li div.selected, #builder li div.selected {
	margin: 7px;
	border: 3px solid red;
}

#picker li div.rotated:hover {
	top: -3px;
}

#pickercontainer {
	width: 50%;
	overflow-x: hidden;
	float: right;
}

#buildercontainer {
	width: 50%;
	height: 430px;
	text-align: center;
	overflow-x: scroll;
	overflow-y: hidden;
	float: left;
}

#builder {
	list-style: none;
	padding: 0px;
	white-space: nowrap;
	overflow-y: hidden;
	height: 650px;
	width: 99%;
	margin: 0 auto;
}

#builder li {
	display: inline;
	margin-right: 10px;
	clear: both;
	height: 600px;
}

#builder img, #builder canvas {
	height: 600px;
	cursor: pointer;
	vertical-align: middle;
	box-shadow: 0px 1px 3px #333333;
	-webkit-box-shadow: 0px 1px 3px #333333;
	-moz-box-shadow: 0px 1px 3px #333333;
}

#pickertoolscontainer {
	height: 40px;
	float: left;
}

#pickertools {
	list-style: none;
	width: 800px;
	white-space: nowrap;
	overflow: hidden;
	height: 40px;
}

#pickertools li {
	display: inline;
	margin-right: 15px;
	padding: 8px;
	font-weight: bold;
	font-size: 14px;
	height: 18px;
	position: relative;
	top: 8px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	border: 2px solid gray;
	cursor: pointer;
}

#pickertools li:hover {
	box-shadow:inset 0 0 10px #333333;
   -moz-box-shadow:inset 0 0 10px #333333;
   -webkit-box-shadow:inset 0 0 10px #333333;
}

#pickertools li span {
	position: relative;
	top: 1px;
}

#pickertools li img {
	margin-right: 8px;
	position: relative;
	top: 3px;
}

.accept-drop {
	background: lightred;
}

.ui-dialog img {
	margin-top: 5px;
	box-shadow: 0px 1px 3px #333333;
	-webkit-box-shadow: 0px 1px 3px #333333;
	-moz-box-shadow: 0px 1px 3px #333333;
}

.jog-control {
	display: none;
	height: 16px;
	position: absolute;
	left: 50%;
	bottom: 40px;
}

.jog-control img {
	background: black;
	margin: 4px;
	padding: 8px;
	opacity: 0.5;
	-moz-border-radius: 8px;
}

#builder .jog-control {
	display: inline;
}