

 /* disable copy and paste, tap highlighting, text resize and callout popups */
* { 
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-touch-callout: none; 
}
 
body {
 	margin: 0;
 	padding: 0;
 	padding-bottom:5px;
 	overflow: hidden;
}

#toolbar {
	position:relative; 
	width:100%;
	height:30px;
	padding: 5px 0;
	background: #cecdd2;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cecdd2));
	background: -moz-linear-gradient(top, #fff, #cecdd2);
	border-bottom: 1px solid rgb(0,0,0);
	-webkit-user-select: none;
}

button {
	background: #cecdd2;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cecdd2));
	background: -moz-linear-gradient(top, #fff, #cecdd2);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid rgb(0,0,0);       
}

input[type=range] {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
    height: 28px;
    width: 100px;
    font-size: 12px;
}

#strokecolor {
	float:left;
	margin-right: 5px;
	margin-left: 5px;
    height: 28px;
    width: 28px;
    border: 1px solid #2B3942;
}

canvas {
	-webkit-user-select: none;
	cursor: crosshair;
	border: 1px solid gray;
}

.centerDiv {
	
}

.verticalCenterDiv {

}

#manageSignaturesCog {
	color: lightgrey;
	background: none;
	border: none;
	padding: 0 .5rem 0 0;
}

 #manageSignaturesCog:hover {
	 color: white;
	 cursor: pointer;
 }

 #manageSignaturesCog i {
	 font-size: medium;
 }

 #canvasMenu {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
 }