
.btn-remove-selected {
  background: #fff !important;
  color: #D14731 !important;
  border: 0.0625rem solid #D14731 !important;
}

#attachment-control {
  width: 750px;
  font-family: Arial;

}

#attachment-control .selected-count {
  font-family: Arial;
  margin-bottom: 3px;
}

#attachment-control .button-container {
  float: right;
}

#attachment-control .panel-body {
  overflow-y: auto !important;
  overflow-x: auto !important;
  max-height: 200px;
  padding: 0 15px;
}

#attachment-control .printable {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  min-height: 30px;
}

.table-heading {
  padding: 3px 15px;
}

#attachment-control .printable:nth-child(2n) {
  background-color: #eee;
}

#attachment-clear-button, #attachment-edit-button, #attachment-add-button {
  background: #fff;
  border-color: #D14731;
  color: #D14731;
  text-transform: uppercase;
  font-weight: 700;
}

#attachment-add-button {
  background: #ffffff;
  border-color: #227E69;
  color: #227E69;
  text-transform: uppercase;
  font-weight: 700;
}

.attachment-control-title {
  color: #333;
  font-weight: 700;
}

.text-overflow-ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}