BODY {
	FONT-SIZE: Normal;
	FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif;
}

TABLE {
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
}

TD {
	font-size: 10pt;
}

TH {
	font-size: 11pt;
}

.blueText {
	font-size: 9pt;
	vertical-align: top;
}

.mbttn {
	background: #D7DBF2;
	border-bottom: 1px solid #104A7B;
	border-right: 1px solid #104A7B;
	border-left: 1px solid #AFC4D5;
	border-top: 1px solid #AFC4D5;
	color: #000066;
	height: 19px;
	text-decoration: none;
	cursor: hand
}

.subject {
	background-color: #003399;
	color: #FFFFFF;
	font-size: 14pt;
	font-weight: bold;
	text-align: centre;
}

.searchTitle {
	background-color: #6699CC;
	color: #000000;
	font-weight: bold;
	text-align: left;
	height
	="20px"
}

.title {
	background-color: #6699CC;
	color: #000000;
	font-weight: bold;
	text-align: center;
	height
	="20px"
}

.fieldTitle {
	background-color: #EEEEFF;
	font-weight: bold;
}

.fieldValue {
	background-color: #EEEEFF;
	text-align: left;
}

.error {
	color: #FF0000;
	background-color: #EEEEFF;
	text-align: left;
}

.message {
	color: #000000;
	background-color: #EEEEFF;
	text-align: left;
}

#for tabs
.tabs th {
	background-image:
		url('http://localhost:8080/casemgmt/images/nw_maj_rond.gif');
	background-repeat: no-repeat;
	border-right: 1px solid #333;
	background-color: #ddd;
	color: #fff;
	border-left: 1px solid #fff;
}

.tabs td {
	background-color: #999;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}

.tabs {
	border-bottom: 6px #ddd solid;
}

.tabs th,.tabs th a:link,.tabs th a:visited {
	color: #555;
}

.tabs td,.tabs td a:link,.tabs td a:visited {
	color: #fff;
}

.tabs a {
	text-decoration: none;
}

div.tabs th,div.tabs td,s,#rightcol div.help,.colbar,.tasknav,body.docs div#toc,#leftcol,.legend,.bars
	{
	font-size: xx-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: x-small;
}

.tabs td,.tabs th,dt,.tasknav .selfref,#login .username,.selection {
	font-weight: bold;
}

.tabs {
	margin-top: 0em;
	margin-right: 2px;
	margin-left: 2px;
	padding-left: 8px;
}

.tabs td,.tabs th {
	padding: 3px 9px;
}

/* used for define free draw thumbnail size */
a.thumbnail {
	padding-top: 3px;
}
a.thumbnail+div{
	padding-top: 8px;
	padding-bottom: 3px;	
}
.thumbnail img{
 	max-width: 100px;
 	max-height: 100px;
	vertical-align: middle;
}