.menuList {
	margin: 0px;
	padding: 10px 0px 10px 12px;
}

li.menubar {
	background: url(../images/plus.gif) no-repeat 0em 0.3em;
	font-size: 14px;
	line-height: 1.5em;
	list-style: none outside;
}

.menu,.submenu {
	display: none;
	margin-left: 12px;
	padding: 0px;
}

.menu li,.submenu li {
	background: url(../images/square.gif) no-repeat 0em 0.3em;
	list-style: none outside;
}

li.menubar a.standalone {
	background: url(../images/square.gif) no-repeat 0em 0.2em !important;
}

a.actuator,a.standalone {
	background-color: transparent;
	color: #000;
	font-size: 14px;
	padding-left: 12px;
	text-decoration: none;
}

.menu li a,.submenu li a {
	background-color: transparent;
	color: #000;
	font-size: 14px;
	padding-left: 12px;
	text-decoration: none;
}

a.actuator:hover,.menu li a:hover,submenu li a:hover,li a.standalone:hover
	{
	text-decoration: underline;
}

/* styles to allow for base links */
li a.base,li a.base:visited {
	background-color: transparent;
	color: #000;
	font-size: 14px;
	padding-left: 0px;
	text-decoration: none;
}

li a.base:hover {
	color: #CC0000;
	text-decoration: none;
}

span.key {
	text-decoration: underline;
}

a.highlight {
	color: black !important;
	font-weight: normal;
}