#signaturesContainer > .signature-container:nth-child(odd) {
  background-color: #f2f2f2;
}

#menuContainer {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
}

#addSignatureContainer {
  padding: 0 1rem 1rem 1rem;
}

.signature {
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 1rem;
}

.signature-container:hover {
  background-color: palegoldenrod !important;
  cursor: pointer;
}

.label-edit {
  padding: 1rem;
}

.label-edit-error {
  padding: 1rem 1rem 0 1rem;
  margin: 0;
  color: red;
}

.signature-image {
  border: black dashed 1px;
  width: 300px;
}

.signature-buttons {
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
}

.signature-info > p {
  margin: 0;
}

.signature-label {
  font-size: 1rem;
}

.signature-date-created {
  font-size: 0.8rem;
  color: #6c757d;
}

.icon-star.favourite {
  color: #f0ad4e;
}

.icon-star:hover {
  opacity: 0.7;
}

.icon-trash.archived {
  color: red;
}

.icon-trash:hover {
  opacity: 0.7;
}

.panel-heading {
  padding: 0.5rem 1rem;
  height: max-content;
}

.panel-body {
  padding: 0;
}

.container-fluid {
  padding: 1rem;
}

button.filter-selected {
  background-color: #f0ad4e !important;
  border: #f0ad4e !important;
  color: white;
}

button.filter-button {
  background-color: transparent;
  border: solid 1px #ccc;
}

button.add-signature-button {
  margin-right: 1rem;
}