<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title></title>
<script src="<%=request.getContextPath()%>/JavaScriptServlet" type="text/javascript"></script>
<script type="text/javascript">
	// <!--
	var noInit = false;
	var domain = "";
	// document.domain = "localhost";
	function init(){
		// parse the query string if there is one to try to get args that
		// we can act on
		var sparams = document.location.search;
		if(sparams.length >= 0){
			if(sparams.charAt(0) == "?"){
				sparams = sparams.substring(1);
			}
			var ss = (sparams.indexOf("&amp;") >= 0) ? "&amp;" : "&";
			sparams = sparams.split(ss);
			for(var x=0; x<sparams.length; x++){
				var tp = sparams[x].split("=");
				if(typeof window[tp[0]] != "undefined"){
					window[tp[0]] = ((tp[1]=="true")||(tp[1]=="false")) ? eval(tp[1]) : tp[1];
				}
			}
		}

		if(noInit){ return; }
		if(domain.length > 0){
			document.domain = domain;
		}
		if((window.parent != window)&&(window.parent["dojo"])){
			//Set the page title so IE history shows up with a somewhat correct name.
			document.title = window.parent.document.title;
			
			//Notify parent that we are loaded.
			var pdj = window.parent.dojo;
			if(pdj["undo"] && pdj["undo"]["browser"]){
				pdj.undo.browser.iframeLoaded(null, window.location);
			}
		}
	}
	// -->
	</script>
</head>
<body onload="try{ init(); }catch(e){ alert(e); }">
<h4>The Dojo Toolkit -- iframe_history.html</h4>

<p>This file is used in Dojo's back/fwd button management.</p>
</body>
</html>
