.calculator {
    width: 720px;
    color: #0C5B5B;
    margin: auto;
}

.calculator_header {
    text-align: center;
    padding-bottom: 20px;
}

.kidney_failure {
    font-size: large;
}

.risk_calculator {
    font-size: xx-large;
}

#btnCalculate {
    margin-top:4px;
    margin-bottom:4px;
}

.assessment {
    border: solid;
    padding-top: 20px;
    text-align: center;
}

#optionalFields {
    padding: 20px;
    margin-top:20px;
    margin-bottom:20px;
    border: solid;
}

.results {
    padding-top: 20px;
    text-align: center;
}

.at2yrs {
    font-size: xx-large;
}

.at5yrs {
    font-size: xx-large;
}

.row {
    display: flex;
    padding-bottom: 8px;
}

.col {
    flex: 50%;
}

input, label {
    display:block;
}