/*
 * 
 * Copyright (c) 2001-2002. Department of Family Medicine, McMaster University. All Rights Reserved. *
 * This software is published under the GPL GNU General Public License. 
 * This program is free software; you can redistribute it and/or 
 * modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation; either version 2 
 * of the License, or (at your option) any later version. * 
 * This program is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
 * GNU General Public License for more details. * * You should have received a copy of the GNU General Public License 
 * along with this program; if not, write to the Free Software 
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA. * 
 * 
 * <OSCAR TEAM>
 * 
 * This software was written for the 
 * Department of Family Medicine 
 * McMaster University 
 * Hamilton 
 * Ontario, Canada 
 */

/* styles.css -- Style sheet for the dxResearch. */
body {
	font-size: 10pt;
	font-family: verdana, arial, helvetica, serif;
	color: #000000;
	background-color: #FFFFFF;
}

a:link {
	color: #336666;
	cursor: pointer;
}

a:visited {
	color: #336666;
}

a:hover {
	font-weight: bold;
	color: #000000;
	background-color: #FFFFFF;
}

td {
	font-size: 10pt;
	height: 15pt;
}

td.black {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #666699;
}

.heading {
	font-weight: bold;
	font-size: 11pt;
	font-family: verdana, arial, helvetica;
	color: #000000;
	background-color: #6699cc;
	height: 20pt;
	margin-top: auto;
}

th > span {
	padding-bottom: 2px;
}
.flex-column > span {
	margin-top: auto;
	margin-bottom: 2px;
	vertical-align: bottom;
}

.flex-column {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-end;
	position: relative;
}

.flex-column:first-child {
	margin-top: auto;
}

.flex-column:last-child {
	margin-left: auto;
}

.notResolved {
	font-size: 9pt;
	color: blue;
}

.quickList {
	font-size: 9pt;
}

.subject {
	font-size: 18pt;
	font-weight: bold;
	color: #FFFFFF;
	height: 40pt;
}

.sbttn {
	background: #EEEEFF;
	border-bottom: 1px solid #104A7B;
	border-right: 1px solid #104A7B;
	border-left: 1px solid #AFC4D5;
	border-top: 1px solid #AFC4D5;
	color: #000066;
	height: 19px;
	text-decoration: none;
	cursor: pointer;
}

.mbttn {
	background: #D7DBF2;
	border-bottom: 1px solid #104A7B;
	border-right: 1px solid #104A7B;
	border-left: 1px solid #AFC4D5;
	border-top: 1px solid #AFC4D5;
	color: #000066;
	height: 19px;
	text-decoration: none;
	cursor: pointer;
}