/*
 * Copyright (c) 2021 WELL EMR Group Inc.
 * This software is made available under the terms of the
 * GNU General Public License, Version 2, 1991 (GPLv2).
 * License details are available via "gnu.org/licenses/gpl-2.0.html".
*/
body {
  font-family: Verdana, Tahoma, Arial, sans-serif;
}

table {
  font-size: x-small;
}

th {
  font-size: small;
  font-weight: bold;
}

.header {
  font-weight: bold;
  font-size: 80%;
  background-color: #6699cc;
}

.body-style {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.main-table {
  border-collapse: collapse;
  border-color: #111111;
  border-width: 0;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  font-size: 80%;
}

.main-table-top-row-right-column {
  border-right: 2px solid #A9A9A9;
  border-top: 2px solid #A9A9A9;
  background-color: #003399;
  height: 34px;
  min-width: 400px;
}

.main-table-bottom-row-right-column {
  border-bottom: 2px solid #A9A9A9;
  border-right: 2px solid #A9A9A9;
  height: 4px;
}

.main-table-right-column {
  border-right: 2px solid #A9A9A9;
  height: 34px;
  margin-left: 4px;
}

.top-status-bar {
  font-weight: bold;
  background-color: #6699cc;
  color: black;
  height: 23px;
  width: 100%;
}

.form-table {
  border-spacing: 2px;
  border-color: #111111;
  border-collapse: collapse;
  width: 100%;
  height: 100%
}
