td {
  text-align: center;
}

table {
  width: 100%;
  border-spacing: 2px;
  background-color: #c0c0c0;
}

tr:nth-child(even) {
  background-color: #EEEFFF
}

tr:nth-child(odd):not(:first-child) {
  background-color: ivory;
}

.hidden {
  display: none;
}

