﻿.block-ui-overlay {
  z-index: 10001;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

body > .block-ui > .block-ui-overlay {
  position: fixed;
}

.block-ui-overlay.block-ui-visible {
  background-color: #fff;
  opacity: 0.5;
  -ms-filter:"alpha(opacity=50)";
  cursor: wait;
}

.block-ui-message-container {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  height: 0;
  text-align: center;
  z-index: 10002;
}

body > .block-ui > .block-ui-message-container {
  position: fixed;
}

.block-ui-message {
  cursor: wait;
  display: inline-block;
  text-align: left;
  background-color: #333;
  color: #f5f5f5;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
}