﻿.container {
    width: 250px !important;
    margin: 10px auto;
    -webkit-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
}

.ui-jqgrid tr.jqgrow td {
    height: 55px;
}

.scroll-body {
position: relative;
width: calc(100% - 25px);
white-space: nowrap;
overflow: hidden;
}

.navbar {
min-height: 25px !important;
}

#propertyGridContainer {
    width: 300px !important;
}