﻿.colorpicker
{
    z-index: 9999;
}

#pg1
{
    overflow: auto;
}

#propertyGridContainer
{
    width: auto;
    font-size: 11px;
    font-family: arial;
}
.pgGroup
{
    width: auto;
    background-color: #C1D2EE;
    height: 20px;
    cursor: pointer;
    border-bottom: 1px solid #EAEBED;
}

.pgGroupShrink
{
    width: auto;
    display: inline-block;
    width: 17px;
    height: 20px;
    top: -3px;
}
.pgGroupText
{
    font-weight: bold;
    display: inline-block;
    padding: 2px 0px 0px 5px;
    font-size: 12px;
}

.pgSubGroup
{
    width: auto;
    background-color: #EAEBED;
    height: 20px;
    padding: 0px;
    cursor: pointer;
}
.pgSubGroupShrink
{
    width: 17px;
    display: inline-block;
    margin-left: 17px;
    height: 20px;
}
.pgSubGroupText
{
    font-weight: bold;
    display: inline-block;
    padding: 2px 0px 0px 5px;
    font-size: 11px;
}

.pgGroupItem
{
    width: auto;
    height: 20px;
    padding: 0px 0px 0px 7px;
    border-left: 17px solid lightgray;
    border-bottom: 1px solid #EAEBED;
}
.pgGroupItemText
{
    padding-top: 3px;
    display: inline-block;
    width: auto;
}

.bkExpand
{
    background-image: url('../images/plusSmall.png');
    background-repeat: no-repeat;
    background-position: 2px 1px;
    cursor: pointer;
}
.bkMinimise
{
    background-image: url('../images/minusSmall.png');
    background-repeat: no-repeat;
    background-position: 2px 1px;
    cursor: pointer;
}

.bkExpandSub
{
    background-image: url('../images/plusSmall.png');
    background-repeat: no-repeat;
    background-position: 2px 1px;
    cursor: pointer;
}
.bkMinimiseSub
{
    background-image: url('../images/minusSmall.png');
    background-repeat: no-repeat;
    background-position: 2px 1px;
    cursor: pointer;
}

.pgInputHolder
{
    float: right;
    width: auto;
    display: block;
    border-left: 1px dotted lightgray;
}
.pgInput
{
    width: 100px;
    border-width: 0px;
    height: 18px;
    background-color: whitesmoke;
    padding: 2px 0px 0px 2px;
}
.pgInputColor
{
    width: 79px;
    border-width: 0px;
    height: 18px;
    background-color: whitesmoke;
    padding: 2px 0px 0px 2px;
}
.pgInputDrop
{
    width: 102px;
    border-width: 0px;
    height: 20px;
    background-color: whitesmoke;
    padding: 2px 0px 0px 2px;
    outline: none;
    border: none;
    border-color: transparent;
}
.pgInputNum
{
    width: 100px;
    border-width: 0px;
    height: 18px;
    background-color: whitesmoke;
    padding: 2px 0px 0px 2px;
}
.pgBtnColor
{
    width: 20px;
    height: 18px;
    float: right;
    padding: 2px 0px 0px 0px;
    border-left: 1px solid #eaebed;
    /*background-image: url('../images/bkCpicker.png');
    background-repeat: no-repeat;*/
    cursor: pointer;
}
