﻿/* 
   treeGrid.css

   style for the tree-grid
   for both Bootstrap 2 and Bootstrap 3

*/



.tree-grid-animate-enter,
.tree-grid-row.ng-enter {
 
}
.tree-grid-animate-enter.tree-grid-animate-enter-active,
.tree-grid-row.ng-enter-active{
 
}

.tree-grid-animate-leave,
.tree-grid-row.ng-leave {

}
.tree-grid-animate-leave.tree-grid-animate-leave-active,
.tree-grid-row.ng-leave-active {  
  
}


/* 
------------------------------------------
Angular 1.2.0 Animation 
*/


.tree-grid-animate.ng-enter{

}
.tree-grid-animate.ng-enter{

}




/*
   end animation stuff
-----------------------------------------
   begin normal css stuff
*/
.tree-grid .tree-grid-row {  
  padding: 0px;
  margin:0px;
}
.tree-grid .tree-grid-row td {
    padding: 1px;
    margin:0px;
}

.tree-grid .tree-grid-row a {
  padding: 3px 10px;
}

.tree-grid i.indented {
  padding: 2px;
}

.tree-grid {
}
.tree-grid .level-1 .indented {
  position: relative;
  left: 0px;
}
.tree-grid .level-2 .indented {
  position: relative;
  left: 20px;
}
.tree-grid .level-3 .indented {
  position: relative;
  left: 40px;
}
.tree-grid .level-4 .indented {
  position: relative;
  left: 60px;
}
.tree-grid .level-5 .indented {
  position: relative;
  left: 80px;
}
.tree-grid .level-6 .indented {
  position: relative;
  left: 100px;
}
.tree-grid .level-7 .indented {
  position: relative;
  left: 120px;
}
.tree-grid .level-8 .indented {
  position: relative;
  left: 140px;
}
.tree-grid .level-9 .indented {
  position: relative;
  left: 160px;
}

.tree-grid .tree-icon,
.tree-label {
    cursor: pointer;
}

table.tree-grid {
    max-height: 500px;
    overflow-y: scroll;
}
