<form class="form"
      action=""
      onsubmit="return false;"
      ng-controller="AdminController"
      integration-admin>
    <h2>{{integrationName}} integration</h2>
    <hr/>
    <div ng-controller="ConnectionController"
         integration-connection>
        <h3>Loading ...</h3>
    </div>
    <div class="alert alert-danger"
         ng-show="hasError()"
         ng-bind-html="status | integrationService: 'errorText'"
         ng-cloak>
    </div>
</form>
