/**
 * Copyright (c) 2021 WELL EMR Group Inc.
 * This software is made available under the terms of the
 * GNU General Public License, Version 2, 1991 (GPLv2).
 * License details are available via "gnu.org/licenses/gpl-2.0.html".
 */
body {
    padding-right: 25px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.text-bold {
    font-weight: bold;
}
label,
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.alert-danger,
.alert-warning {
    color: #000;
}
.connection-header { position: relative; }
.connection-status {
    font-size: 0.75em;
    color: #b94a48;
    position: absolute;
    right: 0;
    line-height: 1.65;

}
.connection-status.connection-status-loading {
    color: #000;
}
.connection-status.connection-status-provisioned {
    color: #c09853;
}
.connection-status.connection-status-connected {
    color: #468847
}
.connection-configuration-display {
    list-style: none;
}

.alert .error {
    margin-left: 10px;
    font-weight: bold;
    color: #b94a48;
}