<!-- START CONNECTION CONTROLLER -->
<div>
    <h3 class="connection-header">
        Connection
        <span class="connection-status" ng-class="status | integrationService: 'css'">
            {{ status | integrationService: 'text' }}
        </span>
    </h3>
    <!--  START CONNECTION OPTIONS  -->
    <div collapse="!showOptions">
        <div class="row">
            <div class="col-sm-6">
                <label for="select-rest">REST Client</label>
                <div class="controls">
                    <select id="select-rest"
                            class="form-control input-sm"
                            ng-model="model.restClient"
                            ng-options="c as c.name for c in restClients track by c.id">
                        <option value="create">Create new</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-10">
            <div class="col-sm-6">
                <label for="select-provider">Provider</label>
                <div class="controls">
                    <select id="select-provider"
                            class="form-control input-sm"
                            ng-model="model.provider"
                            ng-options="p as p.displayName for p in providers track by p.providerNo">
                    </select>
                    <span ng-show="showPasswordWarning()" class="text-danger">
                        Connecting via this provider's account will overwrite their current password.
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <label for="input-password">
                    Provider Password
                </label>
                <i ng-click="toggleRevealPassword()"
                   class="fa pull-right mr-10"
                   ng-class="revealPassword ? 'icon-eye-open' : 'icon-eye-close'"></i>
                <div class="controls">
                    <input id="input-password"
                           ng-hide="revealPassword"
                           ng-model="model.providerPassword"
                           type="password"
                           class="form-control input-sm">
                    <input id="input-password-display"
                           ng-show="revealPassword"
                           ng-model="model.providerPassword"
                           type="text"
                           class="form-control input-sm">
                </div>
                <span class="small text-muted">Leave blank for system generated random password.</span>
            </div>
        </div>
        <br/>
        <div ng-show="schedule" ng-controller="ScheduleController" integration-schedule></div>
    </div>
    <!--  END CONNECTION OPTIONS  -->
    <!--  START CONNECTION DASHBOARD  -->
    <div class="row mt-10" ng-show="showDashboard(status)">
        <div class="col-xs-12">
            <div class="alert alert-warning mt-10">
                <div ng-bind-html="getInstructionsText()"></div>
                <p ng-show="showDashboardDetails()">
                    Clicking on {{ status | integrationService:'saveOperation' }}
                    will use the following parameters:
                </p>
                <ul class="connection-configuration-display"
                    ng-show="showDashboardDetails()">
                    <li ng-bind-html="model | integrationOption: OPTIONS.REST"></li>
                    <li ng-bind-html="model | integrationOption: OPTIONS.SOAP"></li>
                    <li ng-show="schedule" ng-bind-html="model | integrationOption: OPTIONS.TPLINK"></li>
                </ul>
                <div class="text-danger mt-10" ng-bind-html="getErrorText()"></div>
                <div class="mt-10">
                    <button class="btn btn-sm btn-default"
                            ng-click="onSubmitClick()"
                            ng-show="showSubmitButton()">
                        {{ status | integrationService: 'saveOperation' }}
                    </button>
                    <button class="btn btn-sm btn-default" ng-click="onToggleOptionsClick()">
                        {{ showOptions ? 'Hide options' : 'Show options' }}
                    </button>
                    <span class="error" ng-show="error">{{error}}</span>
                </div>
            </div>
        </div>
    </div>
    <!--  END CONNECTION DASHBOARD  -->
</div>
<!-- END CONNECTION CONTROLLER -->