<!--  START 3RD PARTY LINK OPTIONS  -->
<h4>Third party link from appointment notes</h4>
<div class="row">
    <div class="col-sm-2">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="model.linkPrefs.enabled">
                Enable
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label for="select-link-type">Type</label>
        <div class="controls">
            <select id="select-link-type"
                    class="form-control"
                    ng-model="model.linkPrefs.type"
                    ng-options="t as t.name for t in appointmentTypes track by t.id"
                    ng-change="onAppointmentTypeChange()"
                    ng-disabled="!model.linkPrefs.enabled">
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <label for="text-link-custom">Custom type</label>
        <div class="controls">
            <input id="text-link-custom"
                   type="text"
                   class="form-control"
                   ng-model="model.linkPrefs.customType"
                   ng-disabled="!model.linkPrefs.enabled || model.linkPrefs.type.name != 'Custom'">
        </div>
    </div>

    <div class="col-sm-4">
        <label for="text-link-display">Display name</label>
        <div class="controls">
            <input id="text-link-display"
                   type="text"
                   class="form-control"
                   ng-model="model.linkPrefs.display"
                   ng-disabled="!model.linkPrefs.enabled">
        </div>
    </div>
</div>
<!--  END 3RD PARTY LINK OPTIONS  -->