<%@ page import="org.oscarehr.common.dao.ClinicNbrDao" %>
<%@ page import="org.oscarehr.common.model.ClinicNbr" %>
<%@ page import="org.oscarehr.PMmodule.dao.ProviderDao" %>
<%@ page import="org.oscarehr.common.model.Provider" %>
<%@ page import="org.oscarehr.util.LoggedInInfo" %>
<%@ page import="oscar.oscarBilling.ca.on.data.JdbcBillingPageUtil" %>
<%@ page import="oscar.util.SystemPreferencesUtils" %><%--
/*
 * 
 * Copyright (c) 2001-2002. Department of Family Medicine, McMaster University. All Rights Reserved. *
 * This software is published under the GPL GNU General Public License. 
 * This program is free software; you can redistribute it and/or 
 * modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation; either version 2 
 * of the License, or (at your option) any later version. * 
 * This program is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
 * GNU General Public License for more details. * * You should have received a copy of the GNU General Public License 
 * along with this program; if not, write to the Free Software 
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA. * 
 * 
 * <OSCAR TEAM>
 * 
 * This software was written for the 
 * Department of Family Medicine 
 * McMaster University 
 * Hamilton 
 * Ontario, Canada 
 */
--%>

<%
	String clinicNo = oscarVariables.getProperty("clinic_no", "").trim();
	String errorMessage = request.getParameter("errorMessage");
	boolean rmaBillingEnabled = SystemPreferencesUtils
			.isReadBooleanPreferenceWithDefault("rma_billing_enabled", false);
%>

<form name="servicetypeform" method="post">
<table width="92%" border="0" height="285">
	<tr>
		<td width="5%">&nbsp;</td>
		<td width="30%" valign="top">
		<table width="100%" border="0">
			<tr>
				<th colspan="2" class="white"><bean:message
					key="billing.manageBillingform_add.msgAdd" /></th>
			</tr>			
			<tr>
				<td width="50%" class="white">			
				<font color="red">
				<bean:message
					key="billing.manageBillingform_add.formServiceID" /> : </font></td>
				<td width="50%" class="white"><input type="text" name="typeid"
					maxlength="3"></td>
			</tr>
			<tr>
				<td class="white"><bean:message
					key="billing.manageBillingform_add.formServiceName" /> :</td>
				<td class="white"><input type="text" name="type"
					value='<bean:message key="billing.manageBillingform_add.formServiceName"/>'>
				</td>
			</tr>
			<tr>
				<td class="white"><bean:message
					key="billing.manageBillingform_add.formGroup1Name" /> :</td>
				<td class="white"><input type="text" name="group1"
					value='<bean:message key="billing.manageBillingform_add.formGroup1Name"/>'>
				</td>
			</tr>
			<tr>
				<td class="white"><bean:message
					key="billing.manageBillingform_add.formGroup2Name" /> :</td>
				<td class="white"><input type="text" name="group2"
					value='<bean:message key="billing.manageBillingform_add.formGroup2Name"/>'>
				</td>
			</tr>
			<tr>
				<td class="white"><bean:message
					key="billing.manageBillingform_add.formGroup3Name" /> :</td>
				<td class="white"><input type="text" name="group3"
					value='<bean:message key="billing.manageBillingform_add.formGroup3Name"/>'>
				</td>
			</tr>
			<tr>
				<td colspan=2>&nbsp;</td>
			</tr>
			<tr>
				<td class="white"><bean:message
					key="billing.manageBillingform_add.formDefaultBillType" /> :</td>
				<td class="white"><select name="billtype">
					<option value="no" selected>-- no --</option>
					<option value="ODP">Bill OHIP</option>
					<option value="WCB">WSIB</option>
					<option value="NOT">Do Not Bill</option>
					<option value="IFH">IFH</option>
					<option value="PAT">3rd Party</option>
					<option value="OCF">-OCF</option>
					<option value="ODS">-ODSP</option>
					<option value="CPP">-CPP</option>
					<option value="STD">-STD/LTD</option>
				</select></td>
			</tr>
			<tr>
				<td class="white">Default <bean:message key="billing.visittype" /> :</td>
				<td class="white"><select name="visitType">
					<option value="none">None</option>
					<%
						if (rmaBillingEnabled) {
					%>
					<%
						ClinicNbrDao cnDao = (ClinicNbrDao) SpringUtils.getBean("clinicNbrDao");
						ArrayList<ClinicNbr> nbrs = cnDao.findAll();
						ProviderDao providerDao = (ProviderDao) SpringUtils.getBean("providerDao");
						Provider p = providerDao.getProvider(user_no);
						String providerNbr = SxmlMisc.getXmlContent(p.getComments(),"xml_p_nbr");
						for (ClinicNbr clinic : nbrs) {
							String valueString = String.format("%s | %s", clinic.getNbrValue(), clinic.getNbrString());
					%>
					<option value="<%=valueString%>"
							<%=providerNbr.startsWith(clinic.getNbrValue())?"selected":""%>><%=valueString%></option>
					<%
						}
					%>
					<%
					} else {
					%>
					<option value="00| Clinic Visit">00 | Clinic Visit</option>
					<option value="01| Outpatient Visit">01 | Outpatient Visit</option>
					<option value="02| Hospital Visit">02 | Hospital Visit</option>
					<option value="03| ER">03 | ER</option>
					<option value="04| Nursing Home">04 | Nursing Home</option>
					<option value="05| Home Visit">05 | Home Visit</option>
					<%
						}
					%>
				</select></td>
			</tr>
			<tr>
				<td class="white">Default <bean:message key="billing.visitlocation" /> :</td>
				<td class="white"><select name="billlocation">
					<%
						JdbcBillingPageUtil tdbObj = new JdbcBillingPageUtil();
						String billLocationNo="", billLocation="";
						List lLocation = tdbObj.getFacilty_num();
						for (int i = 0; i < lLocation.size(); i = i + 2) {
							billLocationNo = (String) lLocation.get(i);
							billLocation = (String) lLocation.get(i + 1);
					%>
					<option value="<%=billLocationNo + "|" + billLocation%>">
						<%=billLocationNo + " | " + billLocation%>
					</option>
					<%
						}
					%>

				</select></td>
			</tr>
			<tr>
				<td class="white">Default <bean:message key="oscar.billing.CA.ON.billingON.OB.SLIcode" /> :</td>
				<td class="white">
					<select name="sliCode">
						<option value="0000"><bean:message key="oscar.billing.CA.ON.billingON.OB.SLIcode.NA" /></option>
						<%if (!"0000".equals(clinicNo)){%>
						<option value="<%=clinicNo%>"><%=clinicNo + " | "%><bean:message key="oscar.billing.CA.ON.billingON.OB.SLIcode.Clinic" /></option>
						<% } %>
						<option value="HDS"><bean:message key="oscar.billing.CA.ON.billingON.OB.SLIcode.HDS" /></option>
						<option value="HED"><bean:message key="oscar.billing.CA.ON.billingON.OB.SLIcode.HED" /></option>
						<option value="HIP"><bean:message key="oscar.billing.CA.ON.billingON.OB.SLIcode.HIP" /></option>
						<option value="HOP"><bean:message key="oscar.billing.CA.ON.billingON.OB.SLIcode.HOP" /></option>
						<option value="HRP"><bean:message key="oscar.billing.CA.ON.billingON.OB.SLIcode.HRP" /></option>
						<option value="IHF"><bean:message key="oscar.billing.CA.ON.billingON.OB.SLIcode.IHF" /></option>
						<option value="OFF"><bean:message key="oscar.billing.CA.ON.billingON.OB.SLIcode.OFF" /></option>
						<option value="OTN"><bean:message key="oscar.billing.CA.ON.billingON.OB.SLIcode.OTN" /></option>
						<option value="PDF"><bean:message key="oscar.billing.CA.ON.billingON.OB.SLIcode.PDF" /></option>
						<option value="RTF"><bean:message key="oscar.billing.CA.ON.billingON.OB.SLIcode.RTF" /></option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="white"><input type="button" name="addForm"
					value="<bean:message key="billing.manageBillingform_add.btnAdd"/>"
					onClick="valid(this.form)"></td>
				<td class="white">&nbsp;</td>
			</tr>
			
			<% 			
			 if (errorMessage != null && errorMessage.length() > 0) {
			%>
				<tr>
				    <td class="white">&nbsp;</td>
					<td width="50%" class="white">			
					<font color="red" size="2"> <%= errorMessage %>
					</font></td>
					
				</tr>				
			</tr>
				
			<% }
			%>
			
		</table>
		</td>

		<td width="30%" valign="middle" align="right">
		<div id="manage_type"></div>
		</td>

		<td width="25%" bgcolor="#336699" valign="top">
		<table width="100%" border="0">
			<tr>
				<th colspan="2" valign="top" bgcolor="white"><bean:message
					key="billing.manageBillingform_add.msgExistType" /></th>
			</tr>

			<% 
		
	List<Object[]> uniqueServiceTypeList =  ctlBillingServiceDao.getUniqueServiceTypes();		
			
	int rCount = 0;
	boolean bodd=false;

	if(uniqueServiceTypeList == null) {
		out.println("failed!!!"); 
	} else {
	    for(Object[] service : uniqueServiceTypeList)
	    {
	      
	    	%>

	    				<tr>
	    					<td width="30%" valign="top" class="black"><a href=#
	    						onClick='manageType("<%=service[0]%>","<%=service[1]%>");return false;'
	    						title="Manage Billing Form"><%=service[0]%></a> 
	    					</td>
	    					<td class="black"><a href=#
	    						onClick='manageType("<%=service[0]%>","<%=service[1]%>");return false;'
	    						title="Manage Billing Form"><%=service[1]%></a>
	    					</td>
	    				</tr>
	    				<%
	   }
}
%>

		</table>

		</td>
	</tr>
</table>
</form>
