<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!--
/*
 * 
 * Copyright (c) 2001-2002. Department of Family Medicine, McMaster University. All Rights Reserved. *
 * This software is published under the GPL GNU General Public License. 
 * This program is free software; you can redistribute it and/or 
 * modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation; either version 2 
 * of the License, or (at your option) any later version. * 
 * This program is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
 * GNU General Public License for more details. * * You should have received a copy of the GNU General Public License 
 * along with this program; if not, write to the Free Software 
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA. * 
 * 
 * <OSCAR TEAM>
 * 
 * This software was written for the 
 * Department of Family Medicine 
 * McMaster University 
 * Hamilton 
 * Ontario, Canada 
 */
-->
<html>
<head>
<title>Rourke Baby Chart</title>
<script src="<%=request.getContextPath()%>/JavaScriptServlet" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="rourkeStyle.css">
</head>
<body>

<h2>The Rourke Baby Record (RBR)</h2>
<p>The Rourke Baby Record (RBR) is an evidence-based health
supervision guide for physicians caring for children in the first five
years of life. Originally developed in 1979 by Drs. Leslie and James
Rourke of Goderich ON and more recently St. John's NL, the newest
revision in May 2006 is in collaboration with Dr. Denis Leduc of
Montreal, PQ. The RBR is endorsed by the College of Family Physicians of
Canada and the Canadian Paediatric Society.</p>
<p>The major format changes from the previous version of September
2000 are:
<ul>
	<li>Expansion of visits on 3 guides to 4 to allow more writing
	space and to add a new optional visit at 15 months to accommodate some
	immunization preferences/schedules;
	<li>Major emphasis on the 18-month visit as a critical time for
	assessment of development.
	<li>Use of the CDC full page growth charts rather than small
	growth charts on the reverse of the RBR;
	<li>Creation of an immunization chart to more easily document
	immunization rather than trying to record them directly on the RBR.
	<li>Reorganization of the Education & Advice section to avoid
	omission of issues if a visit is missed.
	<li>Incorporation of selected evidence-based environmental,
	literacy, and healthy active living issues as well as updating previous
	items if indicated;
	<li>More detail regarding child development including new
	evidence-based information on the reverse of Guide 4;
	<li>Incorporation of web-based resources for further information.
	
</ul>
<p>The May 2006 RBR may be downloaded from this site, or a paper
copy obtained by phoning McNeil Consumer Healthcare at 1-800-265-7323.</p>
</body>

</html>