<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1;url=mcedt.do">
        <script type="text/javascript">
            window.location.href = "mcedt.do"
        </script>
        <title>Page Redirection</title>
<script src="<%=request.getContextPath()%>/JavaScriptServlet" type="text/javascript"></script>
    </head>
    <body>
        If you are not redirected automatically, follow the 
        <a href='mcedt.do'>link to MCEDT</a>
    </body>
</html>