.KaiBar .block.right * {
    vertical-align: middle;
}

.tasks-status {
    border: 1px solid transparent;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    height: 19px;
    display: inline-block;
    line-height: 19px;
    letter-spacing: 0.1em;
    margin-right: 2px;
}

.tasks-status.success {
    border-color: #00C39C;
    color: #00C39C;
}

.tasks-text-success {
    color: #00C39C;
}

.tasks-status.error {
    border-color: #ed3f3f;
    color: #ed3f3f;
}

.tasks-text-error {
    color: #ed3f3f;
}

.tasks-status.warning {
    border-color: #fdde0b;
    color: #fdde0b;
}

.tasks-status.grey {
    border-color: #a3a39d;
    color: #a3a39d;
}

.tasks-text-grey {
    color: #a3a39d;
}

#dlgTASKSMessage {
    display: none;
    position: fixed;
    max-width: 720px;
    padding: 0 30px;
    left: 50%;
    top: 120px;
    z-index: 99999;
    transform: translateX(-50%);
    border-radius: 5px;
    background-color: #f2f2f2;
    outline: none;
    transition: display ease 0.3s;
}

#dlgTASKSMessage-backdrop {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 90000;
}

#dlgTASKSMessage .tasks-header h4 {
    margin: 20px;
    text-align: center;
}

#dlgTASKSMessage .tasks-body table th {
    font-weight: 700;
}

#dlgTASKSMessage .tasks-body table td, #dlgTASKSMessage .tasks-body table th {
    padding: 4px 8px;
}

#dlgTASKSMessage .tasks-body table td {
    color: #666;
}

#dlgTASKSMessage .tasks-body table tr.error td {
    color: #d64949;
}

#dlgTASKSMessage .tasks-body table tr.success td {
    color: #2f6755;
}

#dlgTASKSMessage .tasks-footer {
    padding: 20px 0;
    text-align: center;
}

#dlgTASKSMessage .tasks-footer button {
    outline: 0;
    background: #fff;
    border: 1px solid #2f6755;
    padding: 3px 15px;
    cursor: pointer;
}

#dlgTASKSMessage .tasks-footer .btn-primary {
    color: #fff;
    background: #2f6755;
}