<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Account Locked</title>
<script src="<%=request.getContextPath()%>/JavaScriptServlet" type="text/javascript"></script>
</head>
<body>
<h3 style="text-align:center;">
Access to this chart has been blocked at the patient's request. Please contact the MRP or the Unit Medical Director if you require further information or assistance.
</h3>
</body>
</html>